body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



@media query (min-width: 660px) {}

@media query (min-width: 768px) {}

@media query (min-width: 992px) {}

@media query (min-width: 1200px) {}

@media query (min-width: 1400px) {}