html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "badaga", sans-serif;
    color: white;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

header, footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    max-height: 125px;
    margin-top: 5%;
    transition: max-height 0.3s ease;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.social-media {
    margin: 20px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-icons img {
    max-height: 50px;
    margin: 10px;
    transition: transform 0.3s ease, max-height 0.3s ease, box-shadow 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(215, 129, 241, 0.7);
}

@keyframes sparkle {
    0%, 100% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5) hue-rotate(270deg);
    }
}

.video-container {
    position: relative;
    width: 90%;
    max-width: 900px;
    height: auto;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(215, 129, 241, 0.7);
    border-radius: 10px;
}

.video-container iframe {
    width: 100%;
    height: 506px;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .video-container iframe {
        height: 300px;
    }
}

@media screen and (max-width: 576px) {
    .social-icons img {
        max-height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .logo img {
        max-height: 150px;
    }

    .social-icons img {
        max-height: 60px;
    }
}

@media screen and (min-width: 992px) {
    .logo img {
        max-height: 175px;
    }

    .social-icons img {
        max-height: 70px;
    }
}

@media screen and (min-width: 1200px) {
    .logo img {
        max-height: 200px;
    }

    .social-icons img {
        max-height: 80px;
    }
}

.above-text {
    font-size: 20px;
    margin-bottom: 10px;
    transition: font-size 0.3s ease;
}

@media screen and (min-width: 768px) {
    .above-text {
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .above-text {
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) {
    .above-text {
        font-size: 32px;
    }
}
