html {
    margin: 0;
    height: 100%; 
    overflow: hidden
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "badaga";
    color: white;
}

.logo img {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 125px;
}

.social-icons {
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.social-icons img {
    max-height: 50px;
    margin: 0 15px;
}

.above-text {
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    text-align: center; /* Center the text */
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99;
}


@media query (min-width: 660px) {}

@media query (min-width: 768px) {}

@media query (min-width: 992px) {}

@media query (min-width: 1200px) {}

@media query (min-width: 1400px) {}
